In [22]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [23]:
df_ad_dataset = pd.read_csv('Advertising Budget and Sales.csv', index_col=0)
df_ad_dataset.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [24]:
df_ad_dataset.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

In [39]:
#feature object creation 

X_feature = df_ad_dataset[['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)']]
Y_target = df_ad_dataset[['Sales ($)']]

print(X_feature.shape, Y_target.shape)

(200, 3) (200, 1)

In [29]:
linreg = LinearRegression()

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_feature, Y_target)

In [41]:
print(X_train, X_test, Y_train, Y_test )

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
37              266.9                 43.8                      5.0
43              293.6                 27.7                      1.8
138             273.7                 28.9                     59.7
167              17.9                 37.6                     21.6
45               25.1                 25.7                     43.3
..                ...                  ...                      ...
198             177.0                  9.3                      6.4
70              216.8                 43.9                     27.2
135              36.9                 38.6                     65.6
179             276.7                  2.3                     23.7
54              182.6                 46.2                     58.7

[150 rows x 3 columns]      TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
60              210.7                 29.5                      9.3
175             222.4                  3.4                     13.1
47               89.7                  9.9                     35.7
10              199.8                  2.6                     21.2
165             117.2                 14.7                      5.4
164             163.5                 36.8                      7.4
65              131.1                 42.8                     28.9
161             172.5                 18.1                     30.7
83               75.3                 20.3                     32.5
72              109.8                 14.3                     31.7
101             222.4                  4.3                     49.8
18              281.4                 39.6                     55.8
136              48.3                 47.0                      8.5
40              228.0                 37.7                     32.0
162              85.7                 35.8                     49.3
87               76.3                 27.5                     16.0
109              13.1                  0.4                     25.6
110             255.4                 26.9                      5.5
26              262.9                  3.5                     19.5
97              197.6                  3.5                      5.9
48              239.9                 41.5                     18.5
149              38.0                 40.3                     11.9
178             170.2                  7.8                     35.2
189             286.0                 13.9                      3.7
90              109.8                 47.8                     51.4
44              206.9                  8.4                     26.4
2                44.5                 39.3                     45.1
172             164.5                 20.9                     47.4
199             283.6                 42.0                     66.2
122              18.8                 21.7                     50.4
5               180.8                 10.8                     58.4
27              142.9                 29.3                     12.6
151             280.7                 13.9                     37.0
24              228.3                 16.9                     26.2
139              43.0                 25.9                     20.5
34              265.6                 20.0                      0.3
180             165.6                 10.0                     17.6
62              261.3                 42.7                     54.7
51              199.8                  3.1                     34.6
153             197.6                 23.3                     14.2
194             166.8                 42.0                      3.6
3                17.2                 45.9                     69.3
69              237.4                 27.5                     11.0
137              25.6                 39.0                      9.3
35               95.7                  1.4                      7.4
82              239.8                  4.1                     36.9
53              216.4                 41.7                     39.6
145              96.2                 14.8                     38.9
128              80.2                  0.0                      9.2
39               43.1                 26.7                     35.1      Sales ($)
37        25.4
43        20.7
138       20.8
167        8.0
45         8.5
..         ...
198       12.8
70        22.3
135       10.8
179       11.8
54        21.2

[150 rows x 1 columns]      Sales ($)
60        18.4
175       11.5
47        10.6
10        10.6
165       11.9
164       18.0
65        18.0
161       14.4
83        11.3
72        12.4
101       11.7
18        24.4
136       11.6
40        21.5
162       13.3
87        12.0
109        5.3
110       19.8
26        12.0
97        11.7
48        23.2
149       10.9
178       11.7
189       15.9
90        16.7
44        12.9
2         10.4
172       14.5
199       25.5
122        7.0
5         12.9
27        15.0
151       16.1
24        15.5
139        9.6
34        17.4
180       12.6
62        24.2
51        11.4
153       16.6
194       19.6
3          9.3
69        18.9
137        9.5
35         9.5
82        12.3
53        22.6
145       11.4
128        8.8
39        10.1

In [44]:
linreg.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [63]:
from sklearn import metrics
print (np.sqrt(metrics.mean_squared_error(Y_test, y_pred)))

1.549814198536934

In [59]:
print("the coefficient and intercept are: {} and {}" .format((linreg.coef_), (linreg.intercept_)))

the coefficient and intercept are: [[ 0.04658592  0.18281228 -0.00095033]] and [3.02050472]

In [61]:
y_pred = linreg.predict(X_test)
y_pred

array([[18.22028161],
       [13.99032506],
       [ 8.97517615],
       [12.78353581],
       [11.16258292],
       [17.3577616 ],
       [16.9248194 ],
       [14.33630245],
       [10.20862772],
       [10.71972845],
       [14.11997887],
       [23.31611946],
       [13.85470384],
       [20.5037061 ],
       [13.51074599],
       [11.58714256],
       [ 3.6795766 ],
       [19.83097145],
       [15.8892538 ],
       [12.86011795],
       [21.76559468],
       [12.14679549],
       [12.34191185],
       [18.88165147],
       [16.82521826],
       [14.16966531],
       [12.23524059],
       [14.45961892],
       [23.84747448],
       [ 7.81544962],
       [13.36211167],
       [15.02205788],
       [18.6031    ],
       [16.72069839],
       [ 9.73905537],
       [19.0496848 ],
       [12.54652952],
       [22.94750597],
       [12.86220748],
       [16.47191333],
       [18.46573025],
       [12.14700803],
       [19.09688547],
       [11.33394502],
       [ 7.72768171],
       [14.90627068],
       [20.68733605],
       [10.17072371],
       [ 6.7479522 ],
       [ 9.87608891]])