In [1]:
#pandas SQL operation

#pandas sql operations

import pandas as pd
import sqlite3
create_table = """
CREATE TABLE student_score
(Id INTEGER, Name VARCHAR(20), Math REAL, Science REAL
);"""

executeSQL = sqlite3.connect(':memory:')
executeSQL.execute(create_table)
executeSQL.commit()

SQL_query = executeSQL.execute('select * from student_score')
resultset = SQL_query.fetchall()
resultset

[]

In [6]:
#pandas sql operation

insertsql = [(10, 'jack', 85, 92), (29, 'tom', 73, 89), (65, 'ram', 65.5, 77), (5, 'steve', 55, 91)]
insert_st = 'Insert into student_score values(?,?,?,?)'
executeSQL.executemany(insert_st, insertsql)
executeSQL.commit()
SQL_query = executeSQL.execute("select * from student_score")
resultset = SQL_query.fetchall()
resultset

[(10, 'jack', 85.0, 92.0),
 (29, 'tom', 73.0, 89.0),
 (65, 'ram', 65.5, 77.0),
 (5, 'steve', 55.0, 91.0),
 (10, 'jack', 85.0, 92.0),
 (29, 'tom', 73.0, 89.0),
 (65, 'ram', 65.5, 77.0),
 (5, 'steve', 55.0, 91.0),
 (10, 'jack', 85.0, 92.0),
 (29, 'tom', 73.0, 89.0),
 (65, 'ram', 65.5, 77.0),
 (5, 'steve', 55.0, 91.0)]

In [17]:
#put records on a dataframe

df_student_recors = pd.DataFrame(resulset,columns= zip(*SQL_query.description)[0])
df_student_recors

NameError: name 'resulset' is not defined